{{range .}}
<div class="card-block">
    Hostname: {{.Hostname}}
    <br />
    Memory: {{.Memory}}
    <br />
    Cpu Number:{{.CPUNum}}
    <br />
    CPU Model: {{.CPUModel}}
    <br />
    Model: {{.Model}}
    <br />
    SerialNumber: {{.SerialNumber}}
    <br />
    Health: {{.Health}}
    <br />
    Power Setting: {{.Power}}
    <br /> 
    {{range .MacInfo}}
    Card Name: {{.CardName}} <br />
        {{range .Mac}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mac Address {{.}} <br />
        {{end}}
        {{range .Position}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position {{.}}<br />
        {{end}}
    {{end}}
    Power State: {{.PowerState}}
    <br />
</div>
<p>
    {{end}}


